.schedule_time_container,
.schedule_name_container {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.schedule_header {
  background-color: rgb(46, 46, 46);
  color: #fff;
  padding: 10px;
  height: 40px;
}

.schedule_card {
  /* color: rgb(255, 255, 255) !important; */
  width: 60vw !important;
  background-color: #676b66;
  margin: 0 auto;
  font-weight: 800;

}
.flexing{
    display: flex;
    justify-content: space-around;
}
.schedule-container{
  margin: 30px auto;
  border-radius: 10px;
  width: 60vw !important;
  /* box-shadow: 0px 0px 120px -25px rgba(216, 213, 236, 0.5) !important; */


}
.schedule-date {
  color:  #2b36c7;
  font-size: 2rem;
  background-color: 212529;

}
.schedInfo_global_header {
  
  color: white;
  font-size: 1.2rem;
  font-weight: 800;
  background-color: #212529;
  margin-bottom: 0 !important;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 768px) {

  .schedule_card {
    /* color: rgb(255, 255, 255) !important; */
    width: 80vw !important;
  }
    .schedule-container{
    
      width: 80vw !important;
    
    
  }
}