.home_main_heading {
  font-weight: 900;
  color: #fff;
}
.home_sec_heading {
  font-weight: 900;
  color: #1714dc !important;
}
.home {
  background: #070707;
  padding-top: 30px;
  min-height: 100vh;
}
.home_heading {
  color: #fff;
}
