.inner_nav ul li a {
  color: #fff !important;
  padding: 1rem;
  font-weight: 600;
}
.breadcrumb {
  background-color: #ffffff00 !important;
}
.inner_nav {
  padding-top: 20px;
}
.breadcrumb span {
  color: #2b36c7;
  font-weight: 900;
  display: inline-block;
}
