/* 
.image-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
    padding: 1.5rem;
    grid-auto-rows: minmax(20vw, auto);
  } */
  .loader-container{
    display: block !important;
  }
  .image-grid .row{
    justify-content: center !important;
    align-items: center;
    min-height: 86vh;
  }