.movie_info_global {
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin: 0 auto;
  background: #070707;
  min-height: 80vh;
}
.movie_info_main_header {
  padding-top: 30px;
  color: #fff;
  font-weight: 900;
}
.movie_info_main_header_span {
  color: #f91a2c !important;
}
.episode_main_heading span {
  color: #f91a2c !important;
}
.episode_main_heading {
  font-size: 42px;
  margin-top: 80px;
  margin-bottom: 80px;
  /* font-weight: 800; */
  color: #fff;
}
