nav{
    background-color: #2200df;
     height: 70px !important;
     line-height: 0 !important;
}
.navbar-brand{
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: .1rem;
}
.search-button{
    color: #fff;
    border-color: #fff;
    font-weight: 800;

}
.navbar li{
    color: #ff0077;
}
.search-button:hover{
   background-color: rgb(10, 141, 123);
   /* border-color: 3px solid rgb(89, 75, 185) !important; */

}
.logo-style{
    margin-right: 10px;
    margin-top: -10px;

}
.navbar-brand span{
    font-weight: 900 !important;
    font-size: 2rem;
    color: #ff0077 !important;
}