
.page-link{
    color: #242222 !important;

}
.pagination-container{
    margin-top: 40px;
}
.pagination{
    /* display: block !important; */
    justify-content: center !important;
}
.next .page-prev{
    font-weight: 900 !important;
    color: brown !important;
}