
.page-link{
    color: #2e1cb9 !important;
    font-weight: 800;

}
.pagination-container{
    margin-top: 40px;
}
.pagination{
    /* display: block !important; */
    justify-content: center !important;
}
.next .page-prev{
    font-weight: 900 !important;
    color: brown !important;
}
.onpage{
    background-color: #1714dc !important;
    color: rgb(236, 236, 236) !important;
}