.App {
  text-align: center;
  background-color: #070707;
  min-height: 100vh;

}
* {
  box-sizing: border-box;
  margin: 0;
}
html,
body {
  margin: 0;
  background: rgb(7, 7, 7);
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.loader-positioning{
  text-align: center;
  position: absolute;
  top: 50vw;
  left: 50vw;
}